<% http_header("style/form.css","style/formframe_wait.css", "/funcs.js", "/jquery-1.7.2.min.js", "/moment.js", "/funjsq.js") %>
<body onLoad="loadvalue(); please_wait(false);">
<div id="black_over_lay" class="black_overlay">
</div>
<form method="post" id="payForm" action="/apply.cgi?/funjsq_select.htm" target="formframe">
<input type="hidden" name="submit_flag" value="funjsq_pay" />
<script language="javascript" type="text/javascript">
var mobile="<% cfg_get("funjsq_mobile") %>";
var expire="<% cfg_get("funjsq_expire") %>";
var QQSupport="<% cfg_get("funjsq_QQSupport") %>";
<% refresh_timestamp("funjsq_pay") %>
var ts = "<% cfg_get("funjsq_pay") %>";
function loadvalue()
{

}

</script>
<div class="page_title">游戏加速器</div>
<div style="top:60px" data-title="续费充值" class="tab">
<h1>续费充值</h1>
<ul class="pay">
<li>
<p><em>套餐类型</em></p>
<span class="active" data-fun-product="d">包月包年</span>
<span class="" data-fun-product="h" style="display: none">包时</span>
</li>
<li>
<p><em>套餐选择</em></p>
<span onclick="$$.selectSuit('1');" id="suit1" class="active" data-fun-product="30">包月套餐<em id="pay1">35.00</em>元</span>
<span onclick="$$.selectSuit('2');" id="suit2" data-fun-product="90">季度套餐<em id="pay2">95.00</em>元</span>
<span onclick="$$.selectSuit('3');" id="suit3" data-fun-product="182">半年套餐<em id="pay3">186.00</em>元</span>
<span onclick="$$.selectSuit('4');" id="suit4" data-fun-product="365">包年套餐<em id="pay4">348.00</em>元</span>
<span class="" data-fun-product-id="3" data-fun-product="4" style="display:none;">包时套餐<em data-fun-product="5.00">5.00</em>元</span>
</li>
<li style="display: none">
<p>当前账户等级<span class="vip">VIP0</span>，距升级<span>VIP1</span>仅需<span class="money">50</span>元，<span class="vip">VIP2</span>尊享价<span class="money">19</span>元</p>
<a href="">点击查看更多特权</a>
</li>
<li class="text">
<p><em>预计可用</em></p>
<p>当前账户过期时间：
<script>document.write('<span>'+expire+'</span>');
</script>
<br/> 购买此套餐后过期时间：
<span>2018-07-03 04:00:00</span>
<br/>
</p>
<p>* 账户可用时间以实际成交套餐为准</p>
</li>
<li>
<p><em>支付金额</em></p>
<p class="sum">￥<b>00.00</b>元</p>
</li>
<li class="coupon" style="display: none">
<input class="code" type="text" placeholder="请输入优惠码">
<input class="use" type="submit" value="使用">
</li>
<li>
<p><em>支付方式</em></p>
<span class="active alipay" data-fun-product="alipay">支付宝</span>
</li>
</ul>
<div class="payButton">
<input type="button" id="returnBt" value="返回" onclick="location.href='funjsq_select.htm'"/>
<input type="button" id="payBt" value="立即支付"/>
</div>
<div class="pay_alert">
<ul>
<li>温馨提示：五天无理由退款说明</li>
<li>a. 首次购买的用户五天内可申请无理由退款，不扣除任何手续费；</li>
<li>b. 每个账号仅限退款1次，超过限制不退款；</li>
<li>c. <a style="color:#1965b1;" onclick="window.open('https://www.funjsq.com/refund_terms.html');">退款细则</a></li>
</ul>
</div>
</div>
<!--
<div class="" style="margin:20px 0px 0px 50px;">
<div class="funjsq_pay_title">续费充值</div>
<div class="funjsq_pay_type">
<div class="funjsq_select" style="width:98%;">
    <div class="funjsq_pay_div">
	<div class="funjsq_pay_subtitle">套餐类型</div>
	<div class="funjsq_pay_sel">
		<div class="funjsq_pay_opt">包月包年</div>
		<div class="funjsq_pay_opt">包时</div>
	</div>
    </div>
    <div class="funjsq_pay_div">
	<div class="funjsq_pay_subtitle">套餐选择</div>
        <div class="funjsq_pay_sel">
                <div class="funjsq_pay_opt">包月35元</div>
                <div class="funjsq_pay_opt">季度99元</div>
                <div class="funjsq_pay_opt">半年186元</div>
		<div class="funjsq_pay_opt">包年348元</div>
        </div>
    </div>
    <div class="">
	<div class="funjsq_pay_subtitle">预计可用</div>
        <div class="funjsq_sel">当前账户过期时间：2018-04-13 16：00：00</div>
	<div class="funjsq_sel">购买此套餐后过期时间：2018-05-13 16：00：00</div>
	<div class="funjsq_sel"> * 账户可用时间以实际成交套餐为准</div>
    </div>
    <div>
	<div class="funjsq_pay_subtitle">支付金额</div>
	<div class="funjsq_sel">00.00元</div>
    </div>
    <div>
	<div class="funjsq_pay_subtitle">支付方式</div>
	<div class="funjsq_pay_sel">
		<div class="funjsq_pay_opt">支付宝</div>
	</div>
    </div>
</div>
</div>
</div>
</div>--!>
</form>
<form id="confirmForm" hidden="">
	<div class="funjsq_pay">
		<div>请在新打开的页面上完成付款</div>
		<div><img id="payIssueImg" src="/image/pay_issue.png"></img></div>
		<span>完成付款后请根据您的情况点击下面按钮</span>
		<div>
                       <input type="button" name="Apply" id="payTrouble" value="付款遇到问题">
                       <input type="button" name="Apply" id="payFinish" value="我已完成付款">
               </div>
	</div>
</form>
<div id="formframe_wait_div" style="display:none;">
<div>$wizard_pls_wait
<div class="loader">
<svg class="spinner" width="28px" height="28px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
<circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div></div></div>

<div id="warning_msg" style="width:40%;height:25%;margin:auto;z-index:1002;border-radius:15px; position:fixed;margin-left:25%;top:30%;z-index:1002;background:#120203;display:none;text-align:center;min-width:400px;min-height:195px;"><h2 id="warning_m" style="margin-top:13%;margin-left:13px;margin-right:13px;line-height:23px;"></h2><input type="button" onclick="close_warning()" value="确定" style="right:8%;position:absolute;bottom:9%;"></div>
</body>
</html>
