<% http_header("style/form.css","style/formframe_wait.css","/jquery-1.7.2.min.js", "/funcs.js", "/funjsq.js") %>
<body onLoad="loadvalue(); please_wait(false);" >
<div id="black_over_lay" class="black_overlay">
</div>
<script>
<% refresh_timestamp("funjsq_login") %>
<% save_timestamp("funjsq_login","funjsq_forget","funjsq_register","forget_get_verify","register_get_verify") %>
var ts = "<% cfg_get("funjsq_login") %>";
var forget_or_register = "<% cfg_get("forget_or_register") %>";
var funjsq_no_need_login = "<% cfg_get("funjsq_no_need_login") %>";
</script>
<form id="loginForm" method="POST" action="/admin.cgi?/funjsq_select.htm" target=formframe>
<input type=hidden name=submit_flag value="funjsq_login" />
<input type="hidden" name="hidden_funjsq_username" />
<input type="hidden" name="hidden_funjsq_password" />
<div class="page_title">游戏加速器</div>
<div class="funjsq">
<div class="funjsq_title">简单两步完成加速</div>
<div class="funjsq_title2">第1步 ———————— 登录账号</div>
<div class="" id="">
<TABLE cellspacing=5 cellPadding=3 width=100% border=0 class="funjsq_tab">
<TR>
        <TD nowrap>
        <input type="text" name="funjsq_username" id="loginName" maxLength="64" size="16" value="" placeholder="输入您的帆游账号...">
        </TD>
</TR>
<TR>
        <TD nowrap>
        <input type="password" name="funjsq_password" id="loginPwd" maxlength="64" size="16" autocomplete="off" placeholder="输入您的帆游密码...">
        </TD>
</TR>
<TR>
	<TD nowrap>
	<!--
	<input class="apply_bt" type="button" name="Apply" id="loginBt" value="登录" onclick="return funjsq_login_apply(document.forms[0]);">
	-->
	<input class="apply_bt" type="button" name="Apply" id="loginBt" value="登录">
	</TD>
</TR>
<TR>
	<TD nowrap><span id="forgetBt">忘记密码 &gt;&gt;</span><span> 还没有帆游账号？</span><span id="registerBt" style="cursor:pointer">点击注册 &gt;&gt;</span>
	</TD>
</TR>
</TABLE>
</div>
</div>

</form>
<form id="forgetForm" method="POST" action="/admin.cgi?/funjsq_login.htm" target=formframe>
<input type=hidden name=submit_flag value="funjsq_forget" />
<div class="page_title">游戏加速器</div>
<input type="hidden" name="hidden_funjsq_username" />
<input type="hidden" name="hidden_funjsq_verify" />
<input type="hidden" name="hidden_funjsq_password" />
<div class="funjsq">
<div class="funjsq_title">简单两步完成加速</div>
<div class="funjsq_title2">第1步 —————— 登录账号(忘记密码)</div>
<div class="" id="">
<TABLE cellspacing=5 cellPadding=3 width=30% border=0 class="funjsq_tab">
<TR>
        <TD nowrap>手机号</TD>
        <TD nowrap>
                <input type="text" name="funjsq_username" id="forgetName" maxLength="64" size="16" value="" placeholder="输入您的手机号码">
        </TD>
</TR>
<TR>
	<TD nowrap>验证码</TD>
        <TD nowrap>
                <input type="text" name="funjsq_verify" id="forgetVry" maxLength="64" size="16" value="" placeholder="请输入短信验证码">
        </TD>
        <TD nowrap>
                <input class="funjsq_bt" type="button" name="Apply" id="forgetVerifyBt" value="获取验证码" onclick="$$.get_verify('1','forget');">
        </TD>
</TR>
<TR>
        <TD nowrap>密码</TD>
        <TD nowrap>
        <input type="text" name="funjsq_password" autocomplete="off" id="forgetPwd" maxlength="32" size="16" placeholder="请输入6-32位数字和字母组合">
        </TD>
</TR>
</TABLE>
<div style="margin:20px 50px;">
        <input class="funjsq_bt" type="button" name="Apply" id="forgetApplyBt" value="确认提交" onclick="$$.forget_register_apply('1','forget');">
        <input class="funjsq_bt" type="button" name="Apply" id="forgetBackBt" value="返回">
</div>
</div>
</div>
</form>
<form id="registerForm" method="POST" action="/admin.cgi?/funjsq_login.htm" target=formframe>
<input type=hidden name=submit_flag value="funjsq_register" />
<input type="hidden" name="hidden_funjsq_username" />
<input type="hidden" name="hidden_funjsq_verify" />
<input type="hidden" name="hidden_funjsq_password" />
<div class="page_title">游戏加速器</div>
<div class="funjsq">
<div class="funjsq_title">简单两步完成加速</div>
<div class="funjsq_title2">第1步 —————— 登录账号(注册账号)</div>
<div class="" id="">
<TABLE cellspacing=5 cellPadding=3 width=30% border=0 class="funjsq_tab">
<TR>
        <TD nowrap>手机号</TD>
        <TD nowrap>
                <input type="text" name="funjsq_username" id="registerName" maxLength="64" size="16" value="" placeholder="输入您的手机号码">
        </TD>
</TR>
<TR>
        <TD nowrap>验证码</TD>
        <TD nowrap>
                <input type="text" name="funjsq_verify" id="registerVry" maxLength="64" size="16" value="" placeholder="请输入短信验证码">
        </TD>
        <TD nowrap>
                <input class="funjsq_bt" type="button" name="Apply" id="registerVerifyBt" value="获取验证码" onclick="$$.get_verify('2','register');">
        </TD>
</TR>
<TR>
        <TD nowrap>密码</TD>
        <TD nowrap>
        <input type="text" name="funjsq_password" id="registerPwd" maxlength="32" autocomplete="off" size="16" placeholder="请输入6-32位数字和字母组合">
        </TD>
</TR>
</TABLE>
<div style="margin:20px 50px;">
        <input class="funjsq_bt" type="button" name="Apply" id="" value="确认提交" onclick="$$.forget_register_apply('2','register');">
        <input class="funjsq_bt" type="button" name="Apply" id="registerBackBt" value="返回">
</div>
</div>
</div>

</form>
<div class="WeChat">
        <img id="WeChatImg" src="/image/WeChat.png" />
</div>
<div id="formframe_wait_div" style="display:none;">
<div>$wizard_pls_wait
<div class="loader">
<svg class="spinner" width="28px" height="28px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
<circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div></div></div>
<div id="warning_msg" style="width:40%;height:25%;margin:auto;z-index:1002;border-radius:15px; position:fixed;margin-left:25%;top:30%;z-index:1002;background:#120203;display:none;text-align:center;min-width:400px;min-height:195px;"><h2 id="warning_m" style="margin-top:13%;margin-left:13px;margin-right:13px;line-height:23px;"></h2><input type="button" onclick="close_warning()" value="确定" style="right:8%;position:absolute;bottom:9%;"></div>
<script language="javascript" type="text/javascript">
function loadvalue()
{
	document.forms[1].style.display="none";
	document.forms[2].style.display="none";
}

</script>
</body>
</html>
