<% http_header("style/form.css") %>

<body>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$info_mark_head</div>
<div id="main" class="main">
<div class="help_button_sty" style="fill:white" onclick="open_help_button()" onmouseover="this.style.fill='red'" onmouseout="this.style.fill='white'">
<svg viewbox="0 0 24 24" style="display:block;width:100%;height:100%;"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></svg>
</div>
<script>
function click_conn_status()
{
	window.open('get_mobile_conn_status.htm', 'conn_status', 'width=961,height=400,top=200,left=200,status=yes,resizable=yes');
}

function click_show_static()
{
	window.open('RST_statistic.htm', 'show_statistic', 'width=961,height=400,top=200,left=200,status=yes,resizable=yes');
}

</script>
<% table_header() %>
$bluebar
<tr><td colspan="2"><h1></h1></td></tr>

<% lte_router_status() %>

$bluebar
<tr>
	<td nowrap colspan=2  align=center>
		<input class="common_key_bt" type="button" name="conn_status" value="$constatus_head" onClick="click_conn_status()">&nbsp;&nbsp;
		<input class="common_key_bt" type="button" name="static_status" value="$show_sta_mark" onClick="click_show_static()">

	</td>
</tr>
<tr>
	<td nowrap colspan=2  align=center>
		<input  class="common_key_bt" type=button name="refresh" value="$refresh_mark" onclick="location.href='get_mobile_status.html'">
	</td>
</tr>
</table>
</div>
</body>
</html>
