<!DOCTYPE html>
<html>
<head>
	<% hijack_title() %>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="style/hijack_style.css" />
	<link rel="stylesheet" type="text/css" href="/style/top_style.css" />
	<link rel="stylesheet" type="text/css" href="/style/form.css" />
	<style>
	body{
		background-image:url(../images/svg/bg.svg);
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-size:cover;
		width:100%;
		height:100%;
		
	}
	#header{
	background:rbga(0,0,0,0);
	}
	.router_name_div{
		color:white;
	}
	</style>
	</head>
<script>
var ts = "<% cfg_get("vpn_update_cert") %>";
var isMd5 = "<% cat_file("/tmp/md5vpn") %>";
isMd5 = (isMd5.trim() === '1')? true: false;
function submit_form(flag) {
	var cf = document.forms[0];
	cf.submit();
}
</script>
<body>
<% form_submit("apply", "vpn_upgrade_process.htm", "vpn_update_cert") %>
<input type="hidden" name="hid_update_cert" value='1'>

	
		
	

	<div class="wizard_body_container" style="background:rgba(0,0,0,0.5);margin-top:50px">
	
		<div class="wizard_content_div">
		<TABLE border="0" cellpadding="0" cellspacing="3" width="100%">
<TR>
	<TD align="left"><H1>Renewing VPN certificate</H1></TD>
	</tr></table>
			<div class="wizard_words_div" style="color:white;">
				<div style="font-size:1.3em; text-align:left;">&lt;&lt;Attention&gt;&gt; A new OpenVPN configuration package for your router is available that enhances your router’s security. You must update the OpenVPN configuration package for your router. Once the OpenVPN configuration package is updated, you must update the OpenVPN configuration package on all your clients; otherwise, your clients won’t be able to access your router using the VPN feature.</div>
				<div style="margin-top:100px; text-align:center;">
				<script>
                                               if(isMd5)
                                                       document.write('<input class="apply_bt" type="button" name="Apply" id="apply" value="Update" onclick="submit_form()">');
                                               else
                                                       document.write('<input class="apply_bt" type="button" name="Apply" id="apply" value="Agree" onclick="submit_form()">');
                                       </script>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom_margin"></div>

</form>
</body>
</html>
