<% http_header("style/form.css", "/funcs.js", "/upgrade.js") %>
<% func_header("", "lang_search.htm", "download_language_confile") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$ch_lang_head_update</div>
<div id="main" class="main">
<div class="help_button_sty" style="fill:white" onclick="open_help_button()" onmouseover="this.style.fill='red'" onmouseout="this.style.fill='white'">
<svg viewbox="0 0 24 24" style="display:block;width:100%;height:100%;"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></svg>
</div>
<% table_header() %>
$bluebar

<input type=hidden name="dis_crl" value='1'>
<input type=hidden name=hidden_lang_avi>
</TABLE>
<script>
var language_list="<% cfg_get("lang_available") %>";
var dis_lang_crl="<% cfg_get("Enable_GUIStringTable") %>";
var gui_region="<% cfg_get("GUI_Region") %>";

function loadvalue()
{

}
</script>
	
	<a tabindex=-1 href="javascript:loadhelp('_upgrade','check')"><b>$upgrade_new_version</b></a>
	<br><br>
	<div style="text-align:center;">
	<script>
	var master="<% cfg_get("http_loginname") %>";
	if( master == "admin" )
		document.write('<input class="common_bt" type="submit" name="check" value="$check_mark">');
	else
		document.write('<input class="common1_bt" type="submit" name="check" disabled>');
	</script>
	
	</div>

</div>
</FORM>
</BODY>
</HTML>


