<% http_header("style/form.css", "/funcs.js" "/advanced.js") %>
<% body_header("_ipmac", "ipmac.htm", "ipmac") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$ipmac_head</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
<script>
	var master="<% cfg_get("http_loginname") %>";
	if( master == "admin" )
		document.write('<TD align=center colSpan=2><input class="cancel_bt" type="button" name="Cancel" value="$cancel_mark" onClick="location.href=\'ipmac.htm\';">&nbsp;&nbsp;<input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return checkipmac(document.forms[0])"></TD>');
	else
		document.write('<TD align=center colSpan=2><input class="cancel1_bt" type="button" name="Cancel" value="$cancel_mark" disabled>&nbsp;&nbsp;<input class="apply1_bt" type="submit" name="Apply" value="$apply_mark" disabled></TD>')
</script>
	
</TR>
</TABLE>
</div>
<div id="main" class="main_top_button">
<div class="help_button_sty" style="fill:white" onclick="open_help_button()" onmouseover="this.style.fill='red'" onmouseout="this.style.fill='white'">
<svg viewbox="0 0 24 24" style="display:block;width:100%;height:100%;"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></svg>
</div>
<% table_header()%>
<script>
var ipmac_binding_flag="<% cfg_get("ipmac_binding_on")%>";
var lan_ip="<% cfg_get("lan_ipaddr") %>";
var lan_subnet="<% cfg_get("lan_netmask") %>";
var remote_ip="<% remote_ip() %>";

<% reservation_items_xss() %>

function loadvalue()
{
	var cf=document.forms[0];
	if( master == "admin" )
	{
		if(ipmac_binding_flag == 1)
		{
			cf.enable_ipmac.checked=true;
			cf.Edit.disabled = false;
			cf.Edit.className = "edit_bt"
		}
		else
		{
			cf.enable_ipmac.checked=false;
			cf.Edit.disabled = true;
			cf.Edit.className = "edit_gray_bt"
		}
	} else{
		cf.Edit.disabled = true;
		cf.Edit.className = "edit_gray_bt"
	}
}

function checkipmac()
{
	var cf=document.forms[0];

	if(isSameSubNet(remote_ip,lan_subnet,lan_ip,lan_subnet) == false)
	{
		this.location.href = "ipmac.htm";
		return false;
	}
	if( cf.enable_ipmac.checked )
		cf.enable_ipmac_hid.value=1;
	else
		cf.enable_ipmac_hid.value=0;
}

</script>
<input type="hidden" name="enable_ipmac_hid">
<TR>
	<TD nowrap>
	<input type="checkbox" name="enable_ipmac" value='0' id="enable_ipmac_ch"><label for="enable_ipmac_ch"><B>$enable_ipmac</B></label>
	</TD>
</TR>
<TR><TD colspan="2"></TD></TR>
<TR><TD>$ipmac_fun</TD></TR>
<TR><TD colspan="2"></TD></TR>
<TR><TD colspan="2"></TD></TR>
<TR><TD colspan="2"></TD></TR>
$bluebar
<TR>
	<TD nowrap align="center">
		<input class="edit_bt" type="submit" name="Edit" value="$edit_mark" onClick='location.href="LAN_lan.htm";getTop(window).open_or_close_sub("setup");getTop(window).menu_color_change("lan");return false;'>
	</TD>
</TR>
$bluebar
</TABLE>
</div>
<% help_box("0","_ipmac") %>
</FORM>
</BODY>
</HTML>
