<% http_header("style/form.css", "/funcs.js") %>
<% func_header("_Wizard_setup", "RU_detcInetType.html", "ru_wizard_detwan") %>
<div id="black_over_lay" class="black_overlay">
</div>
<div class="page_title">$wizard_head</div>
<div id="main" class="main">
<div class="help_button_sty" style="fill:white" onclick="open_help_button()" onmouseover="this.style.fill='red'" onmouseout="this.style.fill='white'">
<svg viewbox="0 0 24 24" style="display:block;width:100%;height:100%;"><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></svg>
</div>
<% table_header() %>
$bluebar
<% cfg_set("view_wizard", "0") %>

<script>
function click_next()
{
	if (document.forms[0].WANDetc[0].checked == true)
	{
		if(getTop(window).have_broadband == "1")
			location.href = "WIZ_sel_3g_adsl.htm";
		else
			document.forms[0].submit();
	}else
	{
		if(getTop(window).dsl_enable_flag == 0)
		   location.href='BAS_basic.htm';
		else
		location.href='BAS_basic_dsl.htm';
	}
}
</script>

<TR><TD nowrap><B>$wizard_setup_info1</B></TD></TR>
<TR><TD nowrap><B>$wizard_setup_info2</B></TD></TR>
<TR><TD nowrap><INPUT type="radio"  checked name="WANDetc" value="AutoDetc" id="WANDetc_ye"><label for="WANDetc_ye">$yes_mark</label></TD></TR>
<TR><TD nowrap><INPUT type="radio" name="WANDetc" value="MyDetc" id="WANDetc_no"><label for="WANDetc_no">$wizard_setup_no</label></TD></TR>
$bluebar
<TR><TD nowrap align=center>
<script>
var master="<% cfg_get("http_loginname") %>";
if( master == "admin" )
	document.write('<INPUT class="short_common_bt" type="button" name="Next" value="$next_mark" onClick="click_next()">');
else
	document.write('<INPUT class="short_common1_bt" type="button" name="Next" value="$next_mark" disabled>');
</script>
</TD></TR>
</TABLE>

</div>
<% help_box("1","_Wizard_setup") %>
</FORM>
</BODY>
</HTML>
